html {
  background-image: linear-gradient(180deg,rgb(135,206,250) 0%, rgb(176,196,222) 100%);
}

/* setting the padding within the sheet: top, right, bottom, left */
body {
  margin: 0 auto;
  padding: 2em 2em 2em 2em; 
  max-width: 800px;
  /* font settings */
  font-family: helvetica;
  font-size: 14px;
  /* creating a white "background" for text */
  line-height: 2em;
  background-color: floralwhite;
}

/* border and shadow for images */
img {
  box-shadow: -10px 10px 5px grey;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: ghostwhite;
}

/* styling listed elements */
li {
  position: relative;
  left: 230px;
  bottom: 100px;
  list-style-type: square;
  font-family: cursive;
  font-size: 18px;
  letter-spacing: 1px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #990000;
}



